* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#bodyContainer {
    margin:auto;
    border:2px;
    width:50%;

}
#statsBox {
    display: flex;
    flex-flow: row wrap;
    border-style: dashed;
    border-width: 1px 2px;
}
p.statTxt {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 20px;
    margin: 5px;
    
}
p.statInt {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    border-right: 3px double black;
}
#btnGrpPlayer {
    display: flex;
    flex-flow: row wrap;
    border-style: dashed;
    border-width: 1px 2px;
}
.button {
    background-color: #434141b8;
    border: none;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 3px;
    cursor: pointer;
    border-radius: 6px;
}
.button:hover {
    background-color: #030202b8;
    color: antiquewhite;
    transition-duration: 0.2s;
}
div.txtLog {
    border: 1px solid black;
}
#txtStory {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    font-weight: 200;
    
}
#txtQstion {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    font-weight: 600;
}









/*
.navbarLeft {
    background-color: cornflowerblue;
    display: flex;
    flex-flow: column wrap;
    width: 10%;
    height: 1000px;
}
.flexcontainer1 {
    background-color: rgb(97, 192, 160);
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: fit-content;
    justify-content: center;
}
.flexcontainer1 > div {
    background-color: antiquewhite;
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
.flexcontainer1divTop {
    background-color: antiquewhite;
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    margin: 40px 20px 20px 20px;
}
.title {
    background-color: burlywood;
    width: 100%; 
    height: 90px;
}
.bodyDiv {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
}   
.footer {
    display: flex;
    height: 100px;
    width: 100%;

}
*/
